@use '../patterns/eyes' as *;
$eye-list: left,right;

.eyes {
    display: flex;
    justify-content: center;
    margin:  auto 0;
    
@each $pos in $eye-list {
    &.eye--#{$pos} {
        @include make-eye();
        @if($pos == left) {
            float:left;

        }
        @else if($pos == right) {
            float: right;
        }
    }
}   
    
}
