@use '../patterns/eyes' as *;
$eye-list: --left, --right;

.eyes {
    transform: scale(calc(var(--g-eye-wh)),1);
    margin:auto 0;
    @each $pos in $eye-list {
        &.eye#{$pos} {
            position: absolute;
            @include make-eye(blue);
         
        }
    }
    span {
        @include make-eye(blue);
    }
}