$mouths : --happy, --sad , --angry,--scary,--baby;

%mouth-properties {
   background-color: $mouth-color;
}

@mixin makeTooth($count:1) {
   $i : 0;
    @while $i <= $count {
      .tooth-#{$i} {   
         $i : $i+1; 
         position:relative;
         &::before { 
            position: absolute;
            left:calc(.5em * 2); // width + spacing
            display: block;
            width: .5em;
            height: 1.2em;
            content: " ";
            background-color: white;
            z-index:2;         

         }


         }
       } 



   }
   
   
   



.mouth {
   @include makeLegacyContainer(80px,45px);
   @extend %mouth-properties;
   @each $mouth in $mouths {
      @if $mouth == --sad {
         &.sad,&.#{$mouth} {
         @extend  %border-top;         
      }
      }
      @else if $mouth == --happy {
       &.happy,&.#{$mouth}{
         @extend %border-bottom;
       }
      }
      @else if $mouth == --angry {
         &.angry,&#{$mouth} {
            @extend %border-top;         
            @include makeTooth(10);

          }

      }
      @else if $mouth == --baby  {
         &.baby,&.#{$mouth}{
            @extend %border-bottom;
            @include makeTooth();
         }

      }
   }
  
} 
 