@mixin makeLegacyContainer($width,$height) {
    display: inline-block;
    overflow:hidden;
    //position: absolute;
    width:#{$width};
    height: #{$height};
    // This will not be displayed if you 
    // dont a content character.
    &::before::after {
        content: ' '
    }
}